<section class="header__banner-container">

    <div class="header__banner"> </div>

    <div class="header__panel">

        <div class="post__form-container">

            <% if(infoSubmitObj !='') {%>
            <div class="message-container" style="background-color:green">
                Submit succes!
                <!--  -->
                <%= infoSubmitObj %>
            </div>
            <% } %>

            <% if(infoErrorsObj !='') {%>
            <div class="message-container" style="background-color:red">
                Error!
                <!--  -->
                <%= infoErrorsObj[0].message %>
                <%= infoErrorsObj%>
            </div>
            <% } %>

            <form action="/about/put/6277aa34772ff87e9fe3119c?_method=PUT" enctype="multipart/form-data" method="POST"
                class="post__form">
                <div class="input-container">
                    <label for="title">Tytuł artykułu</label> <br>
                    <input class="form__input" type="text" name="title" id="name" value="<%=about.title%>">
                </div>


                <div class="post__section-container">
                    <div class="section__content">
                        <div class="input-container">
                            <label for="postContent">Treść sekcji</label> <br>
                            <small>Wprowadź tekst sekcji</small> <br>

                            <textarea class="form__input" name="postContent" id="postContent" cols="30"
                                rows="8"><%= about.postContent%></textarea>
                        </div>
                    </div>
                    <!-- <div class="section__content">
                <div class="input-container">
                    <label for="markdown">Treść sekcji</label> <br>
                    <small>Wprowadź tekst sekcji</small> <br>
                 
                    <textarea name="markdown" id="markdown" cols="30" rows="8"></textarea>
                </div>
            </div> -->



                </div>
                <!-- <div class="input-container">
            <button type="button" class="btn" id="addSection">Dodaj sekcje</button>
        </div> -->
                <div class="btns__container">
                    <div class="submit-btn__container">
                        <button type="submit" class="btn" id="addSection">Zapisz zmiany</button>

                    </div>
                    <a href="/admin-panel" class="menu__link btn">Wstecz</a>

                </div>

            </form>


        </div>

    </div>

</section>