<div class="gallery__container hidden">
    <div class="gallery ">
        <div class="close-btn__container">
            <p><i class="fa-solid fa-xmark"></i></p>
        </div>

        <div class="gallery__imgs">
            <div class="panel__spinner-container">
                <i class="fa-solid fa-spinner panel__spinner"></i></div>

        </div>
        <div class="gallery-btns__container hidden">
            <a href="#" class="gallery__prev"><i class="fa-solid fa-arrow-left gallery__page"></i></a>
            <span class="gallery__cur-page">1</span><span>/</span><span class="gallery__max-page">2</span>
            <a href="#" class="gallery__next"><i class="fa-solid fa-arrow-right gallery__page"></i></a>

        </div>

    </div>
</div>
<section class="header__banner-container">

    <div class="header__banner" style="height:100vh ;">


    </div>
    <div class="header__panel" style=" max-width:1140px;">
        <div class="panel">
            <p class="articles__latest-posts-heading heading">
                <span class="heading__bar"></span>
                <span class="heading-text">Panel admina</span>
                <span class="heading__bar"></span></p>
            <div class="post__form-container">
                <div class="panel__spinner-overlay">
                    <div class="panel__spinner-container">
                        <i class="fa-solid fa-spinner panel__spinner"></i>
                    </div>
                </div>

                <% if(infoSubmitObj !='') {%>
                <div class="message-container" style="background-color:green">
                    Submit succes!
                    <!--  -->
                    <%= infoSubmitObj %>
                </div>
                <% } %>

                <% if(infoErrorsObj !='') {%>
                <div class="message-container" style="background-color:red">
                    Error!
                    <!--  -->
                    <%= infoErrorsObj[0].message %>
                    <%= infoErrorsObj%>
                </div>
                <% } %>
                <form action="/put/<%= post.id%>?_method=PUT" enctype="multipart/form-data" method="POST"
                    class="post__form">
                    <div class="input-container">
                        <label for="title">Tytuł artykułu</label> <br>
                        <input type="text" name="title" id="name" value="<%=post.title%>" class="form__input">
                    </div>

                    <div class="input-container">
                        <label for="category">Kategoria artykułu</label> <br>
                        <small>Wybierz: "Relacja" lub "Poradnik"</small> <br>
                        <select name="category" name="category" aria-label="kategoria" class="form__input">
                            <option selected><%=post.category%></option>
                            <option value="Relacja">Relacja</option>
                            <option value="Poradnik">Poradnik</option>
                        </select>
                    </div>

                    <div class="input-container">
                        <label for="category">Status artykułu</label><br>
                        <small>Tylko posty ze statusem "Publikacja" pojawią się na stronie!</small> <br>
                        <select name="status" name="status" aria-label="status" class="form__input">


                            <option value="<%- post.status==='Produkcja'?'Publikacja':'Produkcja'%>">
                                <%- post.status==='Produkcja'?'Publikacja':'Produkcja'%></option>
                            <option selected="Produkcja"><%=post.status%></option>
                        </select>
                    </div>


                    <div class="input-container">
                        <label for="location">Nazwa Państwa</label> <br>
                        <small>Wpisz nazwę kraju</small> <br>
                        <input type="text" name="location" id="location" value="<%=post.location%>" class="form__input">
                    </div>


                    <div class="input-container">
                        <label for="city">Dokładna lokalizacja</label> <br>
                        <small>Wpisz nazwę regionu/miasta</small> <br>
                        <input type="text" name="city" id="city" value="<%=post.city%>" class="form__input">
                    </div>
                    <div class="input-container">
                            <label for="image">Zdjęcie do miniatry i nagłówka</label> <br>
                            <input type="file" class="form-control" name="image" accept="image/*">
                        </div>

                    <!-- <div class="input-container">
                            <label for="image1">Zdjęcie do artykułu - opcja</label> <br>
                            <input type="file" class="form-control" name="image1" accept="image/*">
                        </div>
                
                        <div class="input-container">
                            <label for="image2">Zdjęcie do artykułu - opcja</label> <br>
                            <input type="file" class="form-control" name="image2" accept="image/*">
                        </div> -->


                    <div class="post__section-container">
                        <div class="section__content">
                            <div class="input-container">
                                <label for="postContent">Treść sekcji</label> <br>
                                <small>Wprowadź tekst sekcji</small> <br>

                                <textarea name="postContent" id="postContent" cols="30" rows="8"
                                    class="form__input"><%= post.postContent%></textarea>
                            </div>
                        </div>
                        <!-- <div class="section__content">
                                <div class="input-container">
                                    <label for="markdown">Treść sekcji</label> <br>
                                    <small>Wprowadź tekst sekcji</small> <br>
                                 
                                    <textarea name="markdown" id="markdown" cols="30" rows="8"></textarea>
                                </div>
                            </div> -->



                    </div>
                    <!-- <div class="input-container">
                            <button type="button" class="btn" id="addSection">Dodaj sekcje</button>
                        </div> -->

                    <div class="btns__container">
                        <a href=""class="gallery__btn"><i class="fa-solid fa-camera"></i></a>
                        <div class="submit-btn__container">
                            <button type="submit" class="btn btn__submit" id="btn__submit">Zapisz post</button>
                        </div>
                        <form action="/post/delete/<%= post.id %>?_method=DELETE" method="POST"
                            class="btn-delete__container">
                            <button type="submit" class="btn btn-delete">Usuń </button>
                        </form>
                        <a href="/admin-panel" class="btn">Wstecz</a>

                    </div>

                </form>


            </div>
        </div>




    </div>

    </div>
</section>